@charset "UTF-8";
ul{
    list-style-type: none;
    margin: 0;
    padding: 6px 0;
}
li{
    display: inline;
}
a:link,a:visited{
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    text-transform:uppercase;
}
a:hover,a:active{
    background-color: #7a991a;
}